
.container{
    margin: 24px;
}

img{
    width: 80px;
}

#main-container-add-form{
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
#err-mssg{
    color: red;
    font-size: 25px;
}
.action-th{
    text-align: center;
}
td .btn a {
    text-decoration: none;
    color:white;
}